body {
	font-family: Arial, Helvetica, sans-serif;
}

section {
}

form {
	width: 700px;
	height: 400px;
	display: block;
	padding: 20px;
}

input,
label,
select {
	display: inline;
	margin-top: 5px;
}

#zk-input {
	width: 70%;
	margin-bottom: 30px;
}

.vorne,
.hinten {
	width: 350px;
	float: left;
}

#button_clear,
#test_split {
	width: 100px;
	height: 30px;
	border: 1px solid grey;
	font-weight: bold;
	margin-top: 20px;
	outline: none;
	font-weight: 200;
}

#button_trennen {
	width: 100px;
	height: 30px;
	background: orange;
	color: white;
	border: 0;
	font-weight: 500;
}
